body {

    background-color: #7D1538;
    display: flex;
    align-items: center;
    justify-content: center;

}
#notepad{

    background-color: #7FB7BE;
    color: #BC2C1A;
    border: 2px solid #DACC3E;
    width: 30vw;
    height: 90vh;
    border-radius: 20px;
    overflow-wrap: break-word;
    /* display: flex;
    justify-content: center; */

}
#name{

    position: absolute;
    background-color: cornflowerblue;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 0px;
    font-size: large;
}

#remove{

    position: relative;
    top: 10px;
    border: 2px solid;
    border-radius: 5px;
     box-shadow: 1px 1px 1px;
}

#theme{
    position: relative;
    top: 10px;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
}
/* 
#textInput{
position: absolute;
    top: 500px;
} */