body {

    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#count{

    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 5px;
    width: 15pxpx;
    box-shadow: 0px 2px 2px;
   
}

.parent{

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: aqua;
    border: 5px solid;
    border-radius: 50px;
    width: 200px;
    height: 200px;
    text-align:center;
    /* top: 250px; */
    /* left: 750px; */
}

.parentOfCounter{

    border: 10px solid Blue;
    width: 45px;
    left: 0px;
    top: 0px;
    border-radius: 30px;
    position: relative;
    padding: 5px;
    
}

#inc {

    border-radius: 5px;
    background-color: crimson;
    cursor:grab;
}

#dec {

    border-radius: 5px;
    background-color: chocolate;
    cursor:grab;
}

#reset {

    border-radius: 5px;
    cursor:grab;
    background-color: darkgray;
}